@charset "UTF-8";
@import url(base.css);
@import url(fonts/AgencyFB.css);

html,body{height:100%;}
body{position:relative;background:#041114;color:#6dc3d2;text-shadow:0 1px 1px rgba(0,0,0,.2);}
p{margin:0 0 1em;}
header,footer{position:fixed;z-index:10;left:0;right:0;}
header{top:0;}footer{bottom:0;}

header{background:rgba(0,0,0,.65);border:1px solid #3e4a58;
margin:10px;line-height:43px;font-size:25px;
font-family:'Agency FB';font-weight:300;color:#fff;text-align:left;}
header b{display:inline-block;border-top:3px solid #fff;margin-top:-1px;padding:0 10px 1px;font-weight:300;}
header span{float:right;display:inline-block;margin:0 10px;padding-top:7px;line-height:39px;font-size:17px;color:#edf5eb;}

[data-ui=page]{position:absolute;top:0;bottom:0;left:0;right:0;}
[data-ui=page],[data-ui=page] section{height:100%;}
[data-ui=page] section{padding:68px 10px 60px;}
input[type=text],.sendbox .input{background:rgba(16,47,55,.86);border:1px solid rgba(26,100,112,.78);padding:5px;color:#b4d4d9;font-family:inherit;}
input[type=text]:focus,.btn:focus{outline:none;}

.sendbox{padding:12px 25px 12px 15px;}
.sendbox .input{padding:8px 45px 8px 8px;width:100%;line-height:20px;font-size:16px;border-radius:3px;}
.sendbox .btn{position:absolute;right:0;bottom:0;z-index:11;background:transparent url(dot-send.png) no-repeat 100% 100%;background-size:72px 75px;border:none;width:72px;height:75px;}


@media only screen and (-webkit-min-device-pixel-ratio:3),only screen and (min-device-pixel-ratio:3){
.sendbox .btn{}
}